<div class="page-accordion" id="accordionpage">
  <div class="textbox">
    <div class="header"><h2>KINGS OF LAKE <strong>PUNNAMADA</strong></h2></div>
    <div class="decription">Let the explosive rythm of 111 oars hitting water in unison and the speed take over your senses.
      These are the Champions of the Last lustrum.
    </div>
  </div>
  <div class="accordion-container">
    <div class="accordion" id="accordion">
      <div class="tabs inactivetabs">
        <div class="year ">2012</div>
        <div class="contents fade-in">
          <div class="winners fade-in">
            <div class="name first">1.Gabriel Chundan</div>
            <div class="time">
              <div class="timestamp"></div>
              <div class="winnertime"><span class="glyphicon glyphicon-time"> </span> 4.17.42</div>
            </div>
          </div>
          <div class="winnerimg">

          </div>
          <div class="winners fade-in">
              <div class="name">2.Mahadevikad Kattil Thekkethu</div>
              <div class="time">
                <div class="timestamp"></div>
                <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.72</div>
              </div>
            </div>
            <div class="winners fade-in">
                <div class="name">3.Payippadan</div>
                <div class="time">
                  <div class="timestamp"></div>
                  <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.99</div>
                </div>
              </div>
        </div>
      </div>
      <div class="tabs inactivetabs">
        <div class="year ">2013</div>
        <div class="contents fade-in">
          <div class="winners fade-in">
            <div class="name first">1.Gabriel Chundan</div>
            <div class="time">
              <div class="timestamp"></div>
              <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.42</div>
            </div>
          </div>
          <div class="winnerimg">
            
          </div>
          <div class="winners fade-in">
              <div class="name">2.Mahadevikad Kattil Thekkethu</div>
              <div class="time">
                <div class="timestamp"></div>
                <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.72</div>
              </div>
            </div>
            <div class="winners fade-in">
                <div class="name">3.Payippadan</div>
                <div class="time">
                  <div class="timestamp"></div>
                  <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.99</div>
                </div>
              </div>
        </div>
      </div>
      <div class="tabs inactivetabs">
        <div class="year ">2014</div>
        <div class="contents fade-in">
            <div class="winners fade-in">
              <div class="name first">1.Gabriel Chundan</div>
              <div class="time">
                <div class="timestamp"></div>
                <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.42</div>
              </div>
            </div>
            <div class="winnerimg">
              
            </div>
            <div class="winners fade-in">
                <div class="name">2.Mahadevikad Kattil Thekkethu</div>
                <div class="time">
                  <div class="timestamp"></div>
                  <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.72</div>
                </div>
              </div>
              <div class="winners fade-in">
                  <div class="name">3.Payippadan</div>
                  <div class="time">
                    <div class="timestamp"></div>
                    <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.99</div>
                  </div>
                </div>
          </div>
      </div>
      <div class="tabs inactivetabs">
        <div class="year ">2015</div>
        <div class="contents fade-in">
          <div class="winners fade-in">
            <div class="name first">1.Gabriel Chundan</div>
            <div class="time">
              <div class="timestamp"></div>
              <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.42</div>
            </div>
          </div>
          <div class="winnerimg">
            
          </div>
          <div class="winners fade-in">
              <div class="name">2.Mahadevikad Kattil Thekkethu</div>
              <div class="time">
                <div class="timestamp"></div>
                <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.72</div>
              </div>
            </div>
            <div class="winners fade-in">
                <div class="name">3.Payippadan</div>
                <div class="time">
                  <div class="timestamp"></div>
                  <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.99</div>
                </div>
              </div>
        </div>
      </div>
      <div class="tabs inactivetabs">
        <div class="year ">2016</div>
        <div class="contents fade-in">
          <div class="winners fade-in">
            <div class="name first">1.Gabriel Chundan</div>
            <div class="time">
              <div class="timestamp"></div>
              <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.42</div>
            </div>
          </div>
          <div class="winnerimg">
            
          </div>
          <div class="winners fade-in">
              <div class="name">2.Mahadevikad Kattil Thekkethu</div>
              <div class="time">
                <div class="timestamp"></div>
                <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.72</div>
              </div>
            </div>
            <div class="winners fade-in">
                <div class="name">3.Payippadan</div>
                <div class="time">
                  <div class="timestamp"></div>
                  <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.99</div>
                </div>
              </div>
        </div>
      </div>
      <div class="tabs activetabs">
        <div class="year ">2017</div>
        <div class="contents fade-in">
          <div class="winners fade-in">
            <div class="name first">1.Gabriel Chundan</div>
            <div class="time">
              <div class="timestamp"></div>
              <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.42</div>
            </div>
          </div>
          <div class="winnerimg">
            
          </div>
          <div class="winners fade-in">
              <div class="name">2.Mahadevikad Kattil Thekkethu</div>
              <div class="time">
                <div class="timestamp"></div>
                <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.72</div>
              </div>
            </div>
            <div class="winners fade-in">
                <div class="name">3.Payippadan</div>
                <div class="time">
                  <div class="timestamp"></div>
                  <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.99</div>
                </div>
              </div>
        </div>
      </div>
      <div class="tabs inactivetabs " id="grad">
        <div class="year">2018  <div class="">Fixtures</div></div>

        <div class="contents fade-in">
          <div class="Coming_Soon">Coming Soon</div>
        </div>
      </div>
    </div>
  </div>
  <div class="see-more">
      <span id="myBtn"><a> See More</a></span>
    </div>
</div>