@import url('https://fonts.googleapis.com/css?family=Jura|Oswald');
.contentContainer{
    height: 100%;
    width: 70vw;
    position: relative;
}
.aboutcontentchild{
    display: flex;
    flex-flow: row nowrap;
    height: 100%;

}

.aboutheader{
    position: absolute;
    top: 0;
    padding: 10px 10px 10px 25px;
    font-family: 'Oswald';
    font-weight: 300;
    color: rgb(78, 214, 255);
}
.about-item{
    width: 100%;   
}
.header-divider{
    margin: 0;
    padding-top: 1px;
    background-color: #fff;
}
.textabout p{
    text-align: justify;
    text-justify: inter-word;
    margin: 0;
    padding-right: 25px;
    font-size: 16px;
    font-weight: 400;
}
.textabout p p:nth-child(1){
color: rgb(228, 255, 255);
}
.qoute{
    font-style: italic;
}
.img-fluid{
    padding: 0 25px;
}