@import url('https://fonts.googleapis.com/css?family=Jura|Raleway');
/* Required for full background image */
.top-nav-collapse {
  background-color: transparent !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: transparent !important;
  }
  .navbar:hover {
    background: transparent !important;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: transparent !important;
  }
}
.container{
  width: 100vw !important;
}
.nav-link{
  color: #fff;
}
.navbar{
    box-shadow: none;
    font-size: 1.2em;
    font-weight: 300;

}

.navbar:hover{
  background: #2b2e312f !important;
}
.booking{
  padding: 0 10px;
  background:transparent;
  transition:.2s ease-out .1s ;
  opacity:1!important;
  border:1px solid rgba(7,197,245,1);
  border-radius:50px;
  /* border-radius:15px 0px 50px 20%; */
}
.booking:hover{
  background: linear-gradient(-45deg, #185b9db9, #43cea2be);
  border-radius:50px;
}
.nav-link{
transition: .5s ease-in-out .1s;
font-family: 'Jura';
border-radius:0px;

}
.booking a{
  color: #fff !important;
}
.nav-link:not(.active ):not(#button-buy):hover{

border-top:4px solid rgba(7,197,245,1);

transition: .2s ease-in-out .1s;


}