<div class="aboutFlexcontainer">
    <div class="aboutContainer">
      <div class="allContents">
        <!-- <router-outlet name="aboutContentOutlet"></router-outlet> -->
        <router-outlet></router-outlet>
         <!-- <ntbr-about-content id="History"></ntbr-about-content>
         <ntbr-about-content id="BoatRace"></ntbr-about-content>
         <ntbr-about-content id="VeniceOfEast"></ntbr-about-content>
         <ntbr-about-content id="NehruTrophy"></ntbr-about-content> -->
      </div>
      <ntbr-vertical-nav></ntbr-vertical-nav>
    </div>
    <div class="downloadAbout">
      <a href="/assets/Amel Johny.docx.pdf" download type="pdf">
        <button class="btn btn-download waves-light" mdbWavesEffect> Downoad PDF
          <i class="fa fa-download" aria-hidden="true"></i>
        </button>
      </a>
    </div>
  </div>
  