<div class="contentContainer">

    <h1 class="col-12 aboutheader">
        DO'S AND Dont's
        <hr class="header-divider">
    </h1>

    <div class="aboutcontentchild justify-content-start">
        <div class="about-item image align-self-center">
            <img class="img-fluid" src="/assets/nehru-about.jpg" alt="">
        </div>
        <div class="about-item textabout align-self-center">
            <p>The history of the Nehru Trophy Boat Race is associated with the visit of late Pandit Jawaharlal Nehru, the then
                Prime Minister of India to Alappuzha. The first race was an impromptu one conducted in 1952 in honour of
                Panditji. On his return to Delhi in December 1952, Nehru donated a Silver Trophy, bearing the following inscription
                above his signature.
                <br>
                <br>
                <strong>
                    
                    <p class="qoute">
                        <i class="fa fa-quote-left pr-2"></i>To the winners of the boat race which is a unique feature of community life in Travancore Cochin.
                            <i class="fa fa-quote-right pr-2"></i>
                    </p>

                </strong>
                <br> This trophy later came to be known as Nehru Trophy, which is celebrated every year by the people of Alappuzha,
                in fond memory of Pandit Jawaharlal Nehru.</p>
        </div>
    </div>
</div>