.verticalnav{
    height: 100%;
    width: 25vw;
    background-color: rgba(14, 14, 17, 0.747);
    // clip-path: polygon(35% 0%, 100% 0%, 100% 100%, 0% 100%);
    -webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
    margin-right: -130px;
    display: flex;
    flex-flow: column  nowrap;
    justify-content: center;
    align-self: center;
    align-items:flex-start;   

}

#verticallinks li :active{
    color:rgb(79, 248, 248)!important;
    text-decoration: none;
    
}
.verticalnav ul {
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
      -o-transform: skew(20deg);

    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

 a{
    color:#fff;
}
.routerLinkActive{
    color: rgb(27, 143, 238);
}

#li1{
    padding-left: 75px;
}
#li2{
    padding-left: 60px;
}
#li3{
    padding-left: 45px;
}
#li4{
    padding-left: 30px;
}
#li1:hover, #li2:hover, #li3:hover, #li4:hover{
    color: rgb(79, 248, 248);
}