<div class="verticalnav">
    <ul id="verticallinks" class="">
        <a  routerLink = 'contactwtc' routerLinkActive = 'routerLinkActive'  id="li1"  class="">
            <li>HISTORY</li>
        </a>
        <a routerLink = 'contactfeedback' routerLinkActive = 'routerLinkActive' id="li2"  class="">
            <li>BOAT RACE</li>
        </a>
        <a routerLink = 'contactdod'  routerLinkActive = 'routerLinkActive' id="li3" class="">
            <li>VENICE OF EAST</li>
        </a>
        <a   routerLink = 'contactlocation' routerLinkActive = 'routerLinkActive' id="li4" class="">
            <li>NEHRU TROPHY</li>
        </a>
    </ul>
</div>