/* You can add global styles to this file, and also import other style files */

/* Required for full background image */
body{
  background-color: #15151e;
  color: #fff;
  overflow-x: hidden;
}
.navbar{
  box-shadow: none;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}