/* You can add global styles to this file, and also import other style files */

/* Required for full background image */
body{
  background-color: #15151e;
  color: #fff;
}
.navbar{
  box-shadow: none;
}

