<div class="container-fluid flex-center aboutBackground">
    <div class="row contentContainer" id="contentContainer">
        <div class="col-lg-9 aboutContent" id="aboutContent">
            <h1 class="contentHeader" id="content-history">WHOM TO CONTACT</h1>
            <div class="row">
                <div class=" whomtocontact">
                    <div class="col-md-6 whomtocontact-item">
                        <p>
                            <strong>CHAIRMAN: </strong> DISTRICT COLLECTOR, ALAPPUZHA</p>
                        <p>PHONE: 0477 - 2251720(Office), 9447129011(Mobile)</p>
                        <p>EMAIL: dcalp.ker@nic.in , nehrutrophy@kerala.nic.in</p>
                        <br>
                        <br>
                        <p>
                            <strong>SECRETARY : </strong> REVENUE DIVISIONAL OFFICER, ALAPPUZHA</p>
                        <p>PHONE: 0477 - 2263441(Office), 9447495002(Mobile)</p>
                        <p>NEHRU TROPHY BOAT RACE SOCIETY</p>
                        <p>FAX: 0477 - 2263441 </p>
                        <p>VINOD KG, OFFICE SECRETARY, ALAPPUZHA</p>
                        <p>PHONE:9995056016(Mobile).</p>
                    </div>
                    <div class="col-md-6 whomtocontact-item">
                        <p>
                            <strong>Emergency Security Numbers</strong>
                        </p>
                        <p>0477-2239161, 100, 1090, 1091</p>
                        <br>
                        <br>
                        <p>
                            <strong>For Tourism related Informations</strong>
                        </p>
                        <p>DTPC Information Office </p>
                        <p>PHONE: 9400051796(Mobile), 0477-2253308( Office)</p>
                        <p>NEHRU TROPHY BOAT RACE SOCIETY</p>
                        <p>EMAIL: dtpcalpy@yahoo.com</p>
                    </div>
                </div>
                <div class="col-12"></div>
                
                    <table class="tg table table-striped">
                        <tr>
                            <th class="tg-yw4l" colspan="5">List of Committees and Convenors</th>
                        </tr>
                        <tr>
                            <td class="tg-yw4l">SlNo</td>
                            <td class="tg-yw4l">NAME
                                <br>&nbsp;&nbsp;OF COMMITTEE</td>
                            <td class="tg-yw4l">NAME
                                <br>&nbsp;&nbsp;OF CONVENER</td>
                            <td class="tg-yw4l">OFFICE
                                <br>&nbsp;&nbsp;ADDRESS</td>
                            <td class="tg-yw4l">Phone
                                <br>&nbsp;&nbsp;No.</td>
                        </tr>
                        <tr>
                            <td class="tg-yw4l">1</td>
                            <td class="tg-yw4l">Finance
                                <br>&nbsp;&nbsp;Committee</td>
                            <td class="tg-yw4l">RDO, Alappuzha</td>
                            <td class="tg-yw4l">Revenue
                                <br>&nbsp;&nbsp;Divisional Office, Alappuzha</td>
                            <td class="tg-yw4l">9447495002</td>
                        </tr>
                        <tr>
                            <td class="tg-yw4l">2</td>
                            <td class="tg-yw4l">Infrastructure
                                <br>&nbsp;&nbsp;Committee</td>
                            <td class="tg-yw4l">Executve
                                <br>&nbsp;&nbsp;Engineer(Irrigation), Alappuzha</td>
                            <td class="tg-yw4l">Irrigation
                                <br>&nbsp;&nbsp;Ex.Engineer Office, Alappuzha</td>
                            <td class="tg-yw4l">9447145007</td>
                        </tr>
                        <tr>
                            <td class="tg-yw4l">3</td>
                            <td class="tg-yw4l">Sponsorship
                                <br>&nbsp;&nbsp;Committee</td>
                            <td class="tg-yw4l">RDO, Alappuzha</td>
                            <td class="tg-yw4l">Revenue
                                <br>&nbsp;&nbsp;Divisional Office, Alappuzha</td>
                            <td class="tg-yw4l">9447495002</td>
                        </tr>
                        <tr>
                            <td class="tg-yw4l">4</td>
                            <td class="tg-yw4l">Souvenir
                                <br>&nbsp;&nbsp;Committee</td>
                            <td class="tg-yw4l">Addl. District
                                <br>&nbsp;&nbsp;Magistrate Alappuzha</td>
                            <td class="tg-yw4l">Collectorate,
                                <br>&nbsp;&nbsp;Alappuzha</td>
                            <td class="tg-yw4l">9447495001</td>
                        </tr>
                        <tr>
                            <td class="tg-yw4l">5</td>
                            <td class="tg-yw4l">Publicity
                                <br>&nbsp;&nbsp;Committee</td>
                            <td class="tg-yw4l">District
                                <br>&nbsp;&nbsp;Information Officer Alappuzha</td>
                            <td class="tg-yw4l">District
                                <br>&nbsp;&nbsp;Information Office, Alappuzha</td>
                            <td class="tg-yw4l">9496003212</td>
                        </tr>
                        <tr>
                            <td class="tg-yw4l">6</td>
                            <td class="tg-yw4l">Food Committee</td>
                            <td class="tg-yw4l">Tahsildar,
                                <br>&nbsp;&nbsp;Ambalappuzha, Alappuzha</td>
                            <td class="tg-yw4l">Taluk Office,
                                <br>&nbsp;&nbsp;Ambalappuzha, Alappuzha</td>
                            <td class="tg-yw4l">9447495005</td>
                        </tr>
                        <tr>
                            <td class="tg-yw4l">7</td>
                            <td class="tg-yw4l">Cultural
                                <br>&nbsp;&nbsp;Committee</td>
                            <td class="tg-yw4l">Municipal
                                <br>&nbsp;&nbsp;Chairperson, Alappuzha</td>
                            <td class="tg-yw4l">Municipal
                                <br>&nbsp;&nbsp;Office, Alappuzha</td>
                            <td class="tg-yw4l">9446363935</td>
                        </tr>
                        <tr>
                            <td class="tg-yw4l">8</td>
                            <td class="tg-yw4l">Transport
                                <br>&nbsp;&nbsp;Committee</td>
                            <td class="tg-yw4l">Inspector of
                                <br>&nbsp;&nbsp;Boats, Alappuzha</td>
                            <td class="tg-yw4l">Office of the
                                <br>&nbsp;&nbsp;Inspector of Boats, Alappuzha.</td>
                            <td class="tg-yw4l">9447033961</td>
                        </tr>
                        <tr>
                            <td class="tg-yw4l">9</td>
                            <td class="tg-yw4l">IT Committee.</td>
                            <td class="tg-yw4l">District
                                <br>&nbsp;&nbsp;Informatics Officer, Alappuzha</td>
                            <td class="tg-yw4l">National
                                <br>&nbsp;&nbsp;Informatics Centre, Collectorate, Alappuzha</td>
                            <td class="tg-yw4l">9446559585</td>
                        </tr>
                    </table>
                    <h1></h1>
            </div>
            <h1 class="contentHeader" id="content-history"> FEEDBACKS</h1>
        </div>

        <div class="verticalNav">
            <div class="verticalnav">
                <ul id="verticallinks" class="">
                    <a routerLinkActive='routerLinkActive' id="li1" href="#content-history" class="aboutContentLink">
                        <li>WHOM TO
                            <br>CONTACT</li>
                    </a>
                    <a routerLinkActive='routerLinkActive' id="li2" href="#content-boatrace" class="aboutContentLink">
                        <li>FEEDBACKS</li>
                    </a>
                    <a routerLinkActive='routerLinkActive' id="li3" href="#content-voe" class="aboutContentLink">
                        <li>DO's AND DON'Ts</li>
                    </a>
                    <a (onClick)="scrollToNT()" id="li4" href="#content-nt" class="aboutContentLink">
                        <li>LOCATION</li>
                    </a>
                </ul>
            </div>
        </div>

    </div>
    <button class="button ">
        <span>Download PDF </span>
    </button>

</div>