<div class="aboutFlexcontainer">
    <div class="aboutContainer">
      <div class="allContents">
        
        <router-outlet></router-outlet>

      </div>
      <ntbr-vertical-nav-contact></ntbr-vertical-nav-contact>
    </div>
    <div class="downloadAbout">
      <a href="/assets/Amel Johny.docx.pdf" download type="pdf">
        <button class="btn btn-download waves-light" mdbWavesEffect> Downoad PDF
          <i class="fa fa-download" aria-hidden="true"></i>
        </button>
      </a>
    </div>
  </div>
  